{% extends "base.html" %}
{% block content%}

<div id="mySidenav" class="sidenav">
    {% if current_user.is_authenticated %}
    <h1><a href="{{url_for('index')}}">{{ current_user.username }}</a></h1>
    <ul>
        <li><a href="{{url_for('gradeInput')}}">Grade Input</a></li>
        <li><a href="#">GPA</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>  
    </ul> 
</div>

<div id="gpa" class="gpadisplay">
    <div class="imgcontainer">
    <h1>Total GPA: {{ gpa }}</h1>
    <table>
        <thead>
            <tr>
                <td>Course</td>
                <td>Credit</td>
                <td>Grade</td>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{i.class_name}}</td>
                <td>{{i.class_credit}}</td>
                <td>{{i.grade}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% else %}
<div id="mySidenav" class="sidenav">
    <ul>
        <li><a href="{{url_for('login')}}">Sign in/Sign up</a></li>
    </ul>
</div>
{% endif %}


{% endblock %}