{% extends "base.html" %}
{% block content%}

<div id="mySidenav" class="sidenav">
    {% if current_user.is_authenticated %}
<h1>{{ current_user.username }}</h1>
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<a href=="{{url_for('index')}}">Index</a>
<a href=#>Grade Input</a>
<a href="#">Total Grade</a>
<a href="#">GPA</a>
<a href="{{url_for('logout')}}">Logout</a>
{% else %}
<a href="{{url_for('login')}}">Sign in/Sign up</a>
{% endif %}   

</div>

<div id="container">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776</span>
    <form action="/gpa/{{ current_user.student_id }}" method="POST" onclick="showForm()">
    
        <p>Select your term</p>
        <select id="term" name="term">
        </select>
        <p>Select your courses</p>
        <select id="course" name="course">
        </select>
        <div>
            <input type="number" name="grade" placeholder="Enter grade (%)" autocomplete="off">
        </div>
        <p><input type="submit" value="Save"></p>
    </form>
</div>

<script>

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("container").style.marginLeft= "0";
    } 
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("container").style.marginLeft = "250px";
    }
    </script>

{% endblock %}