{% extends "base.html" %}
{% block content%}

<div class="container">

    {% if current_user.is_authenticated %}
    <p>Welcome {{ current_user.username }}</p>
    <form action="/gpa/{{ current_user.student_id }}" method="POST" onclick="showForm()">
    
        <p>Select your term</p>
        <select id="term" name="term">
        </select>
        <p>Select your courses</p>
        <select id="course" name="course">
        </select>
        <div>
            <input type="number" name="grade" placeholder="Enter grade (%)" autocomplete="off">
        </div>
        <p><input type="submit" value="Save"></p>
    </form>
    <a href="{{url_for('logout')}}">Logout</a>
    {% else %}
    <a href="{{url_for('login')}}">Sign in/Sign up</a>
    {% endif %}
</div>
{% endblock %}